otp_path: "/home/cam/.asdf/installs/erlang/25.2"
apps_dirs:
  - "."
  - "_build/default/lib/*"
deps_dirs:
  - "_build/default/lib/*"
  - "_build/test/lib/*"
include_dirs:
  - "include"
  - "apps"
  - "apps/*/include"
  - "_build/*/lib/"
  - "_build/*/lib/*/include/"
  - "src"
diagnostics:
  enabled:
    - crossref
  disabled:
    - dialyzer
lenses:
  enabled:
  disabled:
    - function-references
    - server-info
    - ct-run-test
    - show-behaviour-usages
