{erl_opts, [debug_info]}.
{deps, [
  {cowboy, "2.10.0"},
  {epgsql, "4.7.0"},
  {jsx, "3.1.0"},
  {restc, {git, "https://github.com/kivra/restclient.git", {tag, "0.9.8"}}},
  % {cowboy_swagger, "2.5.1"}
  {cowboy_swagger, {git, "git@github.com:camilocerchiari/cowboy_swagger.git", {branch, "master"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [refundcheck]}
]}.

{relx, [
    {default_release, dev, "0.1.0"},
    {release, {prod, "0.1.0"},
      [refundcheck, jsx, sasl, runtime_tools],
      [
        {include_src, false},
        {debug_info, strip},
        {dev_mode, false},
        {include_erts, true},
        {extended_start_script, true},
        {vm_args, "config/vm.args"},
        {sys_config, "config/prod.sys.config"}
      ]
    },

    {release, {dev, "0.1.0"},
      [refundcheck, jsx, sasl, runtime_tools],
      [
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {vm_args, "config/vm.args"},
        {sys_config, "config/sys.config"}
      ]
    },

    %{overlay_vars, "vars.config"},
    {overlay, [
      {mkdir, "public"},
      % {template, "priv/app.config", "etc/app.config"},
      {copy, "public/css", "public/css"},
      {copy, "public/index.html", "public/index.html"},
      {copy, "public/console.html", "public/console.html"},
      {copy, "public/checkout.html", "public/checkout.html"},
      {copy, "public/privacy.html", "public/privacy.html"},
      {copy, "public/copy.svg", "public/copy.svg"}
    ]}

]}.