%% -*- mode: erlang -*-
[
    {kernel, [
        {logger, [
            {
                handler, 
                default, 
                logger_std_h,
                #{
                    level => info,
                    config => #{
                        file => "log/info.log"
                    }
                }
            }
        ]}
    ]},

    {refundcheck, [
        {db_host, "db-pg-1.c88fu9ryczuk.us-east-1.rds.amazonaws.com"},
        {db_user, "refundcheck_u"},
        {db_pass, "IUN878nc,.>/c7B*"},
        {http_port, "2020"},

        {auth_client_id, undefined},
        {auth_client_secret, undefined},

        {auth_endpoint, <<"https://accounts.google.com">>},
        {auth_rn, <<"/o/oauth2/v2/auth">>},
        {auth_token_endpoint, <<"https://oauth2.googleapis.com">>},
        {auth_token_rn, <<"/token">>},
        {auth_redirect_uri_login_callback, <<"https://sellersguard.com/login_callback">>},

        {uri_console, <<"/console">>},
        {uri_login,   <<"https://sellersguard.com/login">>},

        {trails, [
                {"/healthcheck",  refundcheck_handler_healthcheck, []},
            %     ]
            % },
            % {"api.sellersguard.com",[
                {"/refund_check/:api_version/admin/:resource_path/:resource_name/[...]",   refundcheck_handler_admin,   []},
            %     ]
            % },
            % {"[...].sellersguard.com",[
                {"/login_callback", refundcheck_handler_auth, []},      % oauth login callback
                {"/login",          refundcheck_handler_auth, []},      % oauth login
                {"/console",        refundcheck_handler_static,   []},  % console
    
                {"/favicon.ico",  cowboy_static, {dir,  "public"}},
                {"/css/[...]",    cowboy_static, {dir,  "public/css"}},
                {"/[...]",        refundcheck_handler_static, []}      % landing page
        ]}
    ]}
].

