%% -*- mode: erlang -*-
[
    {kernel, [
        {logger, [
            {
                handler, 
                default, 
                logger_std_h,
                #{
                    level => info,
                    config => #{
                        file => "log/info.log"
                    }
                }
            }
        ]}
    ]},

    {refundcheck, [
        {db_host, "localhost"},
        {db_user, "cam"},
        {db_pass, "camiloceP055%"},
        {http_port, "2020"},
        
        % Google
        {auth_client_id_google, <<"870947371367-893nqnc503ffbgkiir8smee4e899mo6p.apps.googleusercontent.com">>},
        {auth_client_secret_google, <<"">>},
        {auth_token_endpoint_google, <<"https://oauth2.googleapis.com">>},
        {auth_token_rn_google, <<"/token">>},
        {auth_endpoint, <<"https://accounts.google.com">>},
        {auth_rn, <<"/o/oauth2/v2/auth">>},
        {auth_redirect_uri_login_callback, <<"http://localhost:2020/login_callback">>},       %TODO TESTING

        % Paypal
        {auth_client_id_paypal, <<"AQM2r8ity_Sd4L487pdkK-ro7WexND_lC0joBeUEkOkt1ZmDbAdEV_oOMBpre8n7YOhxNXNgwodFN6_J">>},
        {auth_client_secret_paypal, <<"">>},
        {paypal_endpoint, <<"https://api-m.sandbox.paypal.com">>},  % Paypal sandbox
        % {paypal_endpoint, <<"https://api-m.paypal.com">>},  % Paypal PROD
        {auth_token_rn_paypal, <<"/v1/oauth2/token">>},
        

        {uri_console, <<"/console">>},
        {uri_checkout, <<"/checkout">>},
        {uri_login,   <<"/login">>},

        {trails, [
                {"/healthcheck",  refundcheck_handler_healthcheck, []},
                % the service handlers trails (routes) are defined in the handlers modules

                {"/refund_check/:api_version/admin/:resource_path/:resource_name/[...]",   refundcheck_handler_admin,   []},

                {"/login_callback", refundcheck_handler_auth, []},         % oauth login callback
                {"/login",          refundcheck_handler_auth, []},         % oauth login
                {"/console",        refundcheck_handler_static,   []},     % console
                {"/checkout",       refundcheck_handler_static,   []},     % checkout
                
                {"/favicon.ico",  cowboy_static, {dir,  "public"}},
                {"/css/[...]",    cowboy_static, {dir,  "public/css"}},
                {"/[...]",        refundcheck_handler_static, []}      % landing page
        ]}

    ]}
].

