%% -*- mode: erlang -*-
[
    {kernel, [
        {logger, [
            {
                handler, 
                default, 
                logger_std_h,
                #{
                    level => info,
                    config => #{
                        file => "log/info.log"
                    }
                }
            }
        ]}
    ]},

    {refundcheck, [
        {db_host, "localhost"},
        {db_user, "cam"},
        {db_pass, "camiloceP055%"},
        {http_port, "2020"},
        {routes, 
    [
        {"[...]",[
            {"/healthcheck",  refundcheck_healthcheck_handler, []},
            {"/[...]", cowboy_static, {dir, "public"}},
            {"/refund_check/:api_version/customer/global/:customer_mail", refundcheck_customer_global_handler, []},
            {"/refund_check/:api_version/customer/:customer_mail",        refundcheck_customer_handler, []},
            {"/refund_check/:api_version/purchase", refundcheck_purchase_handler, []},
            {"/refund_check/:api_version/refund",   refundcheck_refund_handler,   []}
            ]
        }
    ]
        }
    ]}
].

